/*master styles*/
body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/*nav styles*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 38px;
  margin-bottom: 0;
}

.left-column {
  display: flex;
  max-height: fit-content;
}

.right-column {
  display: flex;
  max-height: fit-content;
}

.nav-wrapper > .left-column > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover {
  color: black;50%
}

.nav-wrapper > .right-column > div {
  margin-left: 30px;
}

.profile-img,
.brand .a {
  position: relative;
  top: -25px;
  right: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

/* Portfolio Items */

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  color: white;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 50%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
.logo {
  height: 400px;
  width: 150px;
}

.logo-wrapper img {
  height: 70%;
  margin-bottom: 20px;
}

.portfolio-item-wrapper:hover {
opacity: 50%;
}